{% extends "base.html" %}

{% block title %}
  Edit "{{ course.title }}"
{% endblock %}

{% block content %}
  <h1>Edit "{{ course.title }}"</h1>
  <div class="module">
    <h2>Course modules</h2>
    <form method="post">
      {% csrf_token %}
      {{ formset.management_form }}
      {% for form in formset %}
        <div class="formset-form">
          {{ form.as_p }}
        </div>
      {% endfor %}
      <p><input type="submit" value="Save modules"></p>
    </form>
  </div>
{% endblock %}
